@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* DatePicker custom styles */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  @apply block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}

.react-datepicker__day--selected {
  @apply bg-indigo-600 text-white;
}

.react-datepicker__day:hover {
  @apply bg-indigo-100;
}

